.categories {
    margin-right: 20px;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0;
        display: grid;
        gap: 1em;
        justify-items: center;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        margin-top: 1.5em;
    }
}