.articleCard {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;

    .image {
        height: 60%;
        width: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-image: url("../../assets/trump.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .titleContainer {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
    }
}