@import "../../../index.scss";

.categoryButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    font-size: 10px;
    font-weight: 600;
    color: gray;
    border: none;
    border-radius: 6px;
    margin-bottom: 4px;

    &:hover {
        color: $red;
        background-color: white;
        cursor: pointer;
    }

    .icon {
        font-size: 20px;
    }

    
}

.selected {
    color: $red;
    background-color: white;
}