.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  .AppContainer {
    width: 80%;

    .newsContainer {
      display: flex;
      flex-direction: row;

      .desktopCategories {
        display: block;
      }
    }

    @media screen and (max-width: 768px) {
      width: 90%;

      .newsContainer {

        .desktopCategories {
          display: none;
        }

      }


    }
    
  }


}

